{% extends 'shared/layout.html' %}
{% load render_partial %}
{% block title %}
تغییر کلمه عبور
{% endblock %}

{% block content %}
    <div id="contact-page" class="container">
        <div class="bg">
            <div class="row">
                <div class="col-sm-8">
                    <div class="contact-form">
                        <h2 class="title text-center">تغییر کلمه عبور</h2>
                        <div class="status alert alert-success" style="display: none"></div>
                        <form action="{% url 'change_pass_page' %}" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-success">ثبت</button>
                        </form>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="left-sidebar">

                                {% render_partial 'profile_module.views.user_panel_menu_component' %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
