<h2>پنل کاربری</h2>
<div class="panel-group category-products" id="accordian"><!--category-productsr-->

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">

                <a href="{% url 'user_panel_page' %}">
                    پنل کاربری
                </a>

            </h4>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">

                <a href="{% url 'edit_profile_page' %}">
                    ویرایش اطلاعات کاربر
                </a>

            </h4>
        </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">

                <a href="{% url 'user_shopping_page' %}">
                    لیست خرید های قبلی
                </a>

            </h4>
        </div>


    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">

                <a href="{% url 'change_pass_page' %}">
                    تغییر رمز عبور
                </a>

            </h4>
        </div>

    </div>

</div><!--/category-productsr-->
